@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --font-sans: 'Plus Jakarta Sans', sans-serif;
}

body {
  overflow-x: hidden;
  font-family: 'Plus Jakarta Sans', sans-serif;
  touch-action: manipulation;
}

html {
  scrollbar-gutter: stable;
  touch-action: manipulation;
}
